@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.5/dist/web/static/pretendard-dynamic-subset.css');

.bb,
.bb *,
.bb *::before,
.bb *::after {
  box-sizing: border-box;
}

* {
  font-family:
    Pretendard,
    -apple-system,
    BlinkMacSystemFont,
    Segoe UI,
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    Fira Sans,
    Droid Sans,
    Helvetica Neue,
    sans-serif;
}

html,
body {
  padding: 0;
  margin: 0;
  height: 100%;
  font-size: 62.5%;
  line-height: 1.285;
  color: #111723;
  -webkit-font-smoothing: antialiased;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

button {
  padding: 0;
  font-family: inherit;
  appearance: none;
  background-color: transparent;
  border: none;
}

input {
  font-family: inherit;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 5000s ease-in-out 0s;
}

svg g {
  mask: initial;
}

*::-webkit-scrollbar {
  display: none;
}

.slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition-delay: 10ms;
}

a {
  text-decoration: none;
}

#__next {
  isolation: isolate;
}
